/* Главная страница */
.homepage {
    font-family: 'Arial', sans-serif;
    color: #e6d9c8;
    margin: 20px;
    background-color: #121212;
  }
  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 30px;
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    color: #f5deb3;
    margin-bottom: 20px;
  }
  
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  .hero-button {
    background-color: #e6d9c8;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .hero-button:hover {
    background-color: #f5deb3;
  }
  
  .hero-image {
    max-width: 40%;
  }
  
  .hero-img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  
  .featured-products {
    margin-top: 40px;
  }
  
  .featured-products h2 {
    color: #f5deb3;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  